html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
  background-color: $near-black;
}

.main-home {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

.main {
  display: grid;
  grid-template-columns: 25% 1fr;
  color: $cream;
  font-family: $main-font;
}
