// Colors
$cream: #fffbe9;
$near-black: #101010;
$near-black-fade: #101010CC;
$wine-red: #b21e3b;

$white: #FFFFFF;
$scarlet: #F1232B;
$purple: #6E27C5;
$orange: #FF6600;
$blue: #150F96;

$head-font: 'Georgia', 'Times', serif;
$main-font: 'Raleway', 'Helvetica', sans-serif;
