// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

.header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  background-image: url("../img/header-image.jpg"), linear-gradient(to bottom, $wine-red, $near-black);
  background-color: $near-black;
  background-size: cover;
  background-position: 50% 100%;
  color: $cream;
  min-height: 12rem;
  &__logo-container {
    position: relative;
    top: 30%;
    left: 3%;
    width: 45%;
    padding: 0.6rem;
    text-align: center;
    & img {
      max-height: 10rem;
    }
    & h3 {
      margin: -3% 0 0 0;
      font-size: 100%;
      font-weight: lighter;
      word-spacing: 3px;
      letter-spacing: 1.5px;
    }
  }
}

.nav {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  background-color: $near-black;
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  &__item {
    display: inline-block;
    align-self: center;
    // &:last-of-type {
    //   margin-right: 2rem;
    // }
  }
  &__link {
    //text-decoration: none;
    color: $cream;
    font-size: 90%;
  }
}

.sidebar {
  grid-column: 1 / span 1;
  background-color: $purple;
  min-height: 25rem;
  position: relative;
  & h2 {
    padding: 12.5rem 0;
  }
}

.main-content {
  grid-column: 2 / span 1;
  background-color: $cream;
  color: $near-black;
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: $near-black;
    width: 90%;
    margin: auto;
  }
  &__tile {
    //display: inline-block;
    flex-basis: 25%;
    background-color: $wine-red;
    // width: 25%;
    margin: 1rem 4.1%;
  }
  &--bold {
    font-weight: bold;
  }
}

.footer {
  grid-column: 1 / span 2;
  background-color: $near-black;
  min-height: 8rem;
  text-align: center;
  & img {
    width: 20%;
    margin: 3rem auto;
  }
}
