// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

.header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  background-image: url("../img/header-image.jpg"), linear-gradient(to bottom, $wine-red, $near-black);
  background-color: $near-black;
  background-size: cover;
  background-position: 50% 100%;
  color: $cream;
  min-height: 10rem;
  @include media-query(tab) {
    height: 14rem;
  }
  &__logo-container {
    position: relative;
    top: 25%;
    padding: 0.6rem;
    width: 45%;
    text-align: center;
    @include media-query(mobile) {
      background-color: $near-black-fade;
      border-radius: 5px;
      font-size: 60%;
      margin: auto;
    }
    @include media-query(tab) {
      top: 30%;
      left: 3%;
    }
    & img {
      max-height: 10rem;
    }
    & h3 {
      margin: -3% 0 0 0;
      font-size: 100%;
      font-weight: lighter;
      word-spacing: 3px;
      letter-spacing: 1.5px;
    }
  }
}

.nav {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  background-color: $near-black;
  border-bottom: 6px double $cream;
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1rem;
    @include media-query(mobile) {
      flex-wrap: wrap;
      padding: 0;
    }
  }
  &__item {
    display: inline-block;
    @include media-query(mobile) {
      margin: 0.5rem 1rem;
    }
  }
  &__link {
    color: $cream;
    font-size: 90%;
  }
}

.sidebar {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
  background-color: $near-black;
  @include media-query(desk) {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    border-right: 2px solid $cream;
  }
  &__article {
    background-color: $wine-red;
    width: 75%;
    margin: 0 auto 2rem auto;
    padding: 1rem;
    // @include media-query(tab) {
    //   max-width: 25%;
    // }
  }
  h4 {
    padding: 0 0.5rem;
  }
  p {
    margin: 0;
  }
}

.main-content {
  grid-row: 3 span 1;
  grid-column: 1 / span 2;
  background-color: $near-black-fade;
  @include media-query(desk) {
    grid-row: 3 span 1;
    grid-column: 2 / span 1;
  }
  &__container {
    background-color: $cream;
    width: 90%;
    margin: 1rem auto 2rem auto;
    overflow: hidden;
    @include media-query(desk) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  &__tile {
    // position: relative;
    // top: 2rem;
    background-color: $near-black;
    margin: 2rem;
    padding: 1rem;
    overflow: hidden;
    font-size: 140%;
    @include media-query(desk) {
      flex-basis: 25%;
      margin: 2rem 4.15%;
      font-size: 100%;
    }
  }
  &__img {
    float: left;
    width: 25%;
    padding: 0.5rem 1rem 1rem 0;
    @include media-query(desk) {
      clear: both;
      width: 90%;
      margin: auto;
      padding: 0.5rem 0 1rem 0.5rem;
    }
  }
  h4 {
    padding: 0 0.5rem;
  }
  p {
    margin: 0;
    &:first-of-type {
      margin-top: 0.5rem;
    }
  }
  &--bold {
    font-weight: bold;
  }
}

.footer {
  grid-column: 1 / span 2;
  background-color: $near-black;
  border-top: 6px double $cream;
  min-height: 8rem;
  text-align: center;
  & img {
    width: 20%;
    margin: 2rem auto 0.5rem auto;
  }
  &__nav {
    margin-bottom: 2rem;
  }
  &__link {
    margin: 0 1rem;
  }
}
