// Imported partials
@import 'settings.variables';
@import 'base.normalize';
@import 'settings.responsive';
@import 'components.content';

header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  background-image: url("../img/header-image.jpg"), linear-gradient(to bottom, $wine-red, $near-black);
  background-color: $near-black;
  background-size: cover;
  background-position: 50% 100%;
  color: $cream;
  height: 18rem;
  border-bottom: 6px $cream double;
  & .logo-container {
    position: relative;
    top: 7rem;
    left: 1rem;
    width: 45%;
    padding: 0.6rem;
  & h3 {
      margin: -1rem 0 2rem 1.75rem;
    }
  }
}

// Use flex-box to evenly arrange navigation options on homepage
.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

//set default styles for page components
.nav-option {
  width: 40%;
  margin: 2% 0;
  display: inline-block;
  border: 4px solid $cream;
  overflow: hidden;
  position: relative;
  text-align: center;
  & img {
    display: block;
    position: relative;
    width: 100%;
    //specify transition settings to take effect with :hover
    transform: scaleY(1);
    transition-property: transform, opacity;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
  }
  & h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgba(1, 1, 1, 0.6);
    padding: 2rem;
    //specify transition settings to take effect with :hover
    transition-property: opacity;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
  }
  & .mask {
    height: 100%;
    background-size: cover;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: $cream;
  }
  & h3 {
    text-transform: uppercase;
    color: $near-black;
    position: relative;
    font-size: 17px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 2rem 4rem 0 4rem;
    //specify transition settings to take effect with :hover
    transform: scale(0);
    transition: transform 700ms ease-in-out;
  }
  & p {
    //font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    width: 90%;
    margin: 1rem auto;
    color: $near-black;
    padding: 10px 20px 20px;
    //specify transition settings to take effect with :hover
    transform: scale(0);
    transition: transform 700ms ease-in-out;
  }
  & a.info {
    color: $cream;
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    text-transform: uppercase;
    box-shadow: 0 0 1px $near-black;
    //specify transition settings to take effect with :hover
    transform: scale(0);
    transition: transform 700ms ease-in-out;
  }
  & a.info:hover {
    box-shadow: 0 0 7px #000;
  }
}

//set post-transition conditions for :hover
.nav-option:hover {
  & img {
    transform: scale(2);
    opacity: 15%;
  }
  & h2 {
    opacity: 0%;
  }
  & h3, p, a.info {
    transform: scale(1,1);
  }
}

footer {
  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
  border-top: 6px $wine-red double;
  background-color: $near-black;
  display: flex;
  align-items: center;
  & img {
    width: 20%;
    margin: 3rem auto;
  }
}
