html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
    margin: 1rem;
    border: 2rem solid $dark-gray;
    display: grid;
    grid-template-columns: 35% 65%;
}

h1 {
    color: #white;
}
