html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
    margin: 1rem;
    border: 2rem solid $dark-gray;
    display: grid;
    grid-template-columns: 35% 65%;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
}
