html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    margin: 1rem;
    padding: 2rem;
    border: 2rem solid $dark-gray;

    @include media-query(tab) {
      display: grid;
      grid-template-columns: 35% 65%;
    }
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
  &:hover {
    background-color: complement($dark-gray);
    border-radius: 35%;
  }
}
